{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Stats Form of Genere</h1>
    <img src="{% static 'gb.png' %}" }<br>
    <p>BarGraph</p>
</center>
<center>
    <img src="{% static 'gp.png' %}" }<br>
    <p>PieChart</p>
</center>
<center>
    <img src="{% static 'gw.png' %}" }<br>
    <p>WorldCloud</p>
</center>
</body>
</html>