<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <style>
        div {
          margin-bottom: 15px;
          padding: 4px 12px;
        }
        
       
        .warning {
          background-color: #ffffcc;
          border-left: 6px solid #ffeb3b;
        }
        </style>

</head>
<body><center>
    <h1>Summarization</h1>
    <div class="warning">
    <a href='graph'   >Stats Form of Genere</a><br>
    </div>
    <div class="warning">
    <a href='tot'>Total Number of Unique Users and Movies:</a><br>
    </div>
    <div class="warning">
    <a href='graprat' >Graph Of Genere  Vs Rating </a><br></div>
    <div class="warning">
    <a href='grapmov' >Graph Of Year Vs Number Of Movies</a><br></div>
    <!-- <a href='totmov' >Total Number of Movies</a><br> -->
</center>
</body>
</html>